section.concept-place
	.about
		h2 Концептуальное пространство
		p «Солома-маркет» — место, где&nbsp;совершая покупки, вы&nbsp;сможете насладиться приятной атмосферной, блюдами в&nbsp;кафе-корнерах, а&nbsp;также принять участие в&nbsp;разнообразных мероприятиях и&nbsp;мастер-классах.
		.about-image
			.lettering