section.concept-place
	.about
		h2 Концептуальное пространство
		p «Азбука фермы» — место, где совершая покупки, вы сможете насладиться приятной атмосферной, блюдами в кафе-корнерах, а также принять участие в разнообразных мероприятиях и мастер-классах.
		.about-image
			.lettering