section.features
	.price-block
		h2 Цена и качество
		p Вы сможете преобрести продукты напрямую от фермеров без лишних наценок. 
		p Вся продукция, представленная на витринах нашего пространства, отбирается согласно экологическим принципам и проходит проверку в собственной лаборатории.
		.price-block-image
	.slow-food
		h2 Slow-food
		p Slow food — осмысленное и медленное потребление натуральных продуктов. 
		p «Азбука Фермы» поддерживает концепцию Slow food, созданную в противовес фастфуду.
		.slow-food-image
			.lettering