section.foodcourt
	.main
		h2 Фудкорт
		p На нашем фудкорте так много разнообразной и&nbsp;вкусной еды, что даже гурманы смогут найти для себя что-то новое.
	.ram-ram
		h3 Баран-Баран
		span ресторан с грилем
		p Огонь, баран, сезонные продукты. Почему баранина? Потому что лучший ингридиент. Но при этом может заигрывать с другими белками животного просихождения.
		.ram-ram-image
	
	.wrapper
		.sailor-song
			h3 Песнь моряка
			span рыбный гриль-бар
			p В регулярном меню вы найдете блюда со всего мира - от русской ухи и супа том-ям, до барабульки из Мавритании, мидий из Чили или осьминогов из Индонезии.
			.sailor-song-image