section.foodcourt
	.about
		.aboutImage
			.imageOne
			.imageTwo
			.imageBorder
				.lettering
				.letteringImage
		.aboutIntro
			h2 Фудкорт
			p На нашем фудкорте так много разнообразной&nbsp;и&nbsp;вкусной еды,&nbsp;что даже гурманы&nbsp;смогут найти для себя&nbsp;что-то новое.

