footer.index-footer
	address ТРЦ «Золотой&nbsp;Вавилон», Проспект&nbsp;Мира&nbsp;211,&nbsp;к.&nbsp;2,&nbsp;этаж&nbsp;1, каждый&nbsp;день&nbsp;с&nbsp;8:00&nbsp;до&nbsp;22:00
	.logo
	a(href="tel:7 963 680 4997") +7 963 680 4997