section.masterclass
	h2 Формат пространства
	p На территории «Азбуки Фермы» организовано пространство для проведения приятного время препровождения в атмосфере вкусной еды, мастер-классов и живого общения между продавцами и покупателями.
