section.products
	.text
		h2 Разнобразие
		p В «Азбуке фермы» вы найдёте продукты не только на каждый день, но и редкие деликатесы от российских производителей, которые сложно купить в супермаркетах.
		ul
			li.fruit Овощи и&nbsp;фрукты
			li.fish Свежие мясо и&nbsp;рыба
			li.milk Молочная продукция
			li.tea Напитки, чай, кофе
			li.cake Кондитерские изделия