section.products
	h2 Разнобразие
	p В «Азбуке фермы» вы найдёте продукты не только на каждый день, но и редкие деликатесы от российских производителей, которые сложно купить в супермаркетах.
	ul
		li.veg Овощи и фрукты
		li.meat Свежие мясо и рыба
		li.candy Кондитерские изделия
		li.tea Напитки, чай, кофе
		li.milk Молочная продукция