section.products
	.text
		h2 Разнобразие
		p На «Солома-маркете» вы&nbsp;найдёте продукты не&nbsp;только на&nbsp;каждый день, но&nbsp;и&nbsp;редкие деликатесы от&nbsp;российских производителей, которые сложно купить в&nbsp;супермаркетах.
		ul
			li.fruit Овощи и&nbsp;фрукты
			li.fish Свежие мясо и&nbsp;рыба
			li.milk Молочная продукция
			li.tea Напитки, чай, кофе
			li.cake Кондитерские изделия