section.tenants
	.tenantsMain
		.tenantsHeader
			h2 Арендаторам
			p На «Солома-маркете» вы&nbsp;найдёте продукты не&nbsp;только на&nbsp;каждый день, но&nbsp;и&nbsp;редкие деликатесыот&nbsp;российских производителей, которые сложно купить в&nbsp;супермаркетах.
		.tenantsSection
			.tenantsAbout
				.about
					p Инвестор проекта и&nbsp;управляющая&nbsp;компания:
					a(href="#") Quicksilver Company
				.about
					p Проектировщик проекта:
					a(href="#") Under Construction Group
				.about
					a(href="#").plan Скачать план проекта
			.tenantsFeatures
				.feature-item.storage Место для хранения продукции
				.feature-item.commercial Мощная рекламная поддержка
				.feature-item.place Торговое пространство под&nbsp;ключ
				.feature-item.location Близко от центра Москвы
		button.callback Обратный звонок
		form(data-form="closed")
			.text-input
				input(id="phone-input" type="tel" placeholder="Телефон" name="phone")
			button.callback-open(type="submit") Перезвоните мне

