.products {
	@extend %desktop-padding;
	padding-top: 8rem;
	padding-bottom: 5rem;
	text-align: center;
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	ul {
		display: flex;
		justify-content: space-around;

		li {
			@extend %icon;
			margin-right: 1rem;
			margin-left: 1rem;
			max-width: 6rem;
		}

		$list: (fruit, fish, milk, tea, cake);
		@each $item in $list {
				.#{$item}::before { background-image: url('img/icons/#{$item}.svg'); }
		}
	}
	
	p { 
		max-width: 570px;
		padding-bottom: 40px;
	}
	@include mq('1024', max) {
		padding-top: 3rem;
		.text {
			align-items: center;
			justify-content: center;
		}
		ul {
			
			align-self: center;
			flex-wrap: wrap;
			justify-content: center;
			li {
				margin-top: 10px;
				margin-right: 0.5rem;
				margin-left: 0.5rem;
			}
		}
	}
	@include mq("iphone7plus", max) {
		ul {
			margin-left: -$desktop-padding + 5%;
			margin-right: -$desktop-padding + 5%;
			li { max-width: 7.5rem;}
		}
	}

}