.products {
	@extend %desktop-padding;
	padding-top: 8rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	ul {
		display: flex;
		justify-content: space-around;
		li {
			margin-right: 20px;
			margin-left: 20px;
			max-width: 120px;
			@extend %icon-font;
			@extend %icon;}

		$list: (veg, meat, candy, tea, milk);
		@each $item in $list {
				// .#{$item}::before { background-image: url('img/products/#{$item}.png'); }
				.#{$item}::before { background-image: url('img/products/icon.png'); }
		}
	}
	p { 
		text-align: center;
		width: 50%;
		padding-bottom: 40px;}

}