.index-header {
	background-color: #DDDDDD;
    height: 80vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
	  box-sizing: border-box;
    background: url('img/header/header.jpg') center/cover no-repeat;
    
	.header-welcome {
	    width: 24.5rem;
  		height: 15.55rem;
      box-sizing: border-box;
      padding-top: 1.8rem;
      padding-bottom: 2.4rem;
      text-align: center;
    
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		justify-content: space-between;
      
      background: transparent url('img/header/header-border.svg') center/contain no-repeat;

  		h1 { 
            width: 4.625rem;
            height: 5.625rem;
            // width: 74px;
            // height: 90px;
            background: transparent url('img/header/logo.svg') center/contain no-repeat;
            font-size: 0;
        }

  		h2 {  
            max-width: 22.75rem;
            margin: 18px 0;
            // margin-bottom: 0;
        }

  		p {
  			font-size: 15px;
  			color: #726f6f;
      }
	}
	@include mq('1024', max) {
        height: 50vh;
        min-height: 420px;
        .header-welcome {
          h2 {
            align-self: center;
            max-width: 15.625rem;

          }
        }
    }
    @include mq("iphone7plus", max) {
      .header-welcome {
        width: 289px;
        height: 267px;
        background: transparent url('img/header/header-mobile.svg') center/contain no-repeat;
        padding-bottom: 35px;
        h1 {
          width: 70px;
          height: 81px;
        }
        h2 {
           max-width: none;
        }
      }
    }
}