.index-header {
	background-color: #DDDDDD;
    height: 80vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
	box-sizing: border-box;
    background: url('img/header/header.jpg') left top/cover no-repeat;
    
	.header-welcome {
	    width: 490px;
  		height: 311px;
        box-sizing: border-box;
        padding: 20px 60px 40px 60px;
        text-align: center;
    
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		justify-content: space-between;

        background-color: transparent;
        background: 
            url('img/header/header-border.svg') left top/cover no-repeat;

  		h1 { 
            width: 107px;
            height: 112px;
            background: transparent url('img/header/logo.png') top left/cover no-repeat;
            font-size: 0;
        }

  		h2 {
            margin-bottom: 0;
        }

		p {
			font-size: 15px;
			color: #726f6f;
        }
	}
	
}