.index-header {
	background-color: #DDDDDD;
	box-sizing: border-box;
	padding: 11rem 0;
  background: 
    url('img/header/header.jpg') left top/cover no-repeat;
	.header-welcome {
		  width: 490px;
  		height: 311px;
  		margin: 0 auto;
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		justify-content: center;
      background-color: transparent;
      background: 
        url('img/header/logo.png') center 20px/107px 112px no-repeat,
        url('img/header/header-border.svg') left top/cover no-repeat;
  		h1 { font-size: 0;}
  		h2 {
  			text-align: center;
  			box-sizing: border-box;
  			padding: 110px 60px 0;}
		p {
      padding-top: 20px;
			font-size: 15px;
			color: #726f6f;}
	}
	
}