.concept-block {
	min-height: 316px;
	background-color: transparent;
	background: 

		url('img/concept-block/lettering-03.png') 70% 35%/25%  no-repeat,
		url('img/concept-block/words.jpg') left top/cover no-repeat;
}