div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer { margin: 0; padding: 0; }

p, h1, h2, h3, span { cursor: default; }

input { font-family: inherit; }

h1, h2, h3, h4, h5, h6 { font-weight: inherit; }

ul { list-style: none; }

@font-face { font-family: OpenSans; src: url(fonts/OpenSans-Light.ttf); }

@font-face { font-family: Yeseva One; src: url(fonts/YesevaOne-Regular.ttf); }

html { font-family: OpenSans, sans-serif; font-size: 20px; line-height: 1.4; color: #444; font-weight: 300; }

h1, h2, h3 { font-family: Yeseva One, cursive; font-size: 2rem; font-weight: normal; line-height: 1.1; }

h2 { margin-bottom: 22px; }

.products ul li, .tenants .more-review li, .index-footer address { font-size: 0.8rem; text-align: center; }

.products, .features, .masterclass, .tenants { padding-left: 10%; padding-right: 10%; }

@media screen and (min-width: 1440px) { .products, .features, .masterclass, .tenants { padding-left: 20%; padding-right: 20%; } }

@media screen and (max-width: 849px) { .products, .features, .masterclass, .tenants { padding-left: 5%; padding-right: 5%; } }

@media screen and (max-width: 849px) { html { font-size: 16px; }
  h1, h2, h3 { font-size: 1.875rem; } }

@media screen and (max-width: 559px) { html { font-size: 12px; }
  h1, h2, h3 { font-size: 1.675rem; } }

.tenants .review button { padding: 8px 42px; background-color: #433939; border: none; cursor: pointer; font-size: 0.8rem; line-height: 1.89; text-align: center; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); color: #f9f6f3; }

.products ul li, .tenants .more-review li { position: relative; padding-top: 5rem; margin-right: 20px; }

.products ul li::before, .tenants .more-review li::before { content: ''; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 6.4rem; height: 5rem; background-position: center; background-size: 50%; background-repeat: no-repeat; }

.index-header { background-color: #DDDDDD; height: 80vh; min-height: 700px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; background: url("img/header/header.jpg") left top/cover no-repeat; }

.index-header .header-welcome { width: 24.5rem; height: 15.55rem; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 60px 40px 60px; text-align: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; background: transparent url("img/header/header-border.svg") left top/cover no-repeat; }

.index-header .header-welcome h1 { width: 5.35rem; height: 5.6rem; background: transparent url("img/header/logo.png") top left/cover no-repeat; font-size: 0; }

.index-header .header-welcome h2 { margin-bottom: 0; }

.index-header .header-welcome p { font-size: 15px; color: #726f6f; }

@media screen and (max-width: 849px) { .index-header { height: 60vh; min-height: 420px; }
  .index-header .header-welcome { padding: 20px 60px 20px 60px; } }

.concept-place { padding-left: 20%; padding-right: 20%; padding-top: 200px; padding-bottom: 200px; }

.concept-place .about-image { position: absolute; border: solid 3px rgba(140, 159, 135, 0.4); top: 0; left: 120%; width: 18.15rem; height: 16.8rem; }

.concept-place .about-image .lettering { position: absolute; left: -2.5rem; bottom: 3.75rem; z-index: 3; width: 15.7rem; height: 2.9rem; background: transparent url("img/lettering-01.png") left top/cover no-repeat; }

.concept-place .about-image:before { content: ''; position: absolute; top: -5rem; left: -2.5rem; width: 18.1rem; height: 12.05rem; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); background: transparent url("img/concept-place/kon-01.jpg") left top/cover no-repeat; }

.concept-place .about-image:after { content: ''; position: absolute; top: 2.5rem; left: 10rem; width: 12.05rem; height: 16.05rem; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); background: transparent url("img/concept-place/kon-02.jpg") left top/cover no-repeat; }

@media screen and (max-width: 849px) { .concept-place .about-image { position: relative; top: 7rem; left: 10%; } }

.concept-place .about { position: relative; width: 370px; }

@media screen and (min-width: 1440px) { .concept-place { padding-left: 30%; padding-right: 30%; } }

@media screen and (max-width: 849px) { .concept-place { overflow: hidden; padding-top: 50px; padding-bottom: 150px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-left: 5%; padding-right: 5%; }
  .concept-place .about { width: 100%; } }

.eat-everything { min-height: 316px; position: relative; background: transparent url("img/eat-everything/words.jpg") left top/cover no-repeat; }

.eat-everything:before { position: absolute; left: 50%; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 435px; height: 104px; content: ''; background: transparent url("img/eat-everything/lettering-03.png") left top/cover no-repeat; }

@media screen and (max-width: 849px) { .eat-everything { display: none; } }

.products { padding-top: 8rem; padding-bottom: 5rem; text-align: center; }

.products .text { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.products ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.products ul li { margin-right: 1rem; margin-left: 1rem; max-width: 6rem; }

.products ul .fruit::before { background-image: url("img/icons/fruit.svg"); }

.products ul .fish::before { background-image: url("img/icons/fish.svg"); }

.products ul .milk::before { background-image: url("img/icons/milk.svg"); }

.products ul .tea::before { background-image: url("img/icons/tea.svg"); }

.products ul .cake::before { background-image: url("img/icons/cake.svg"); }

.products p { max-width: 570px; padding-bottom: 40px; }

@media screen and (max-width: 849px) { .products { text-align: left; padding-top: 0; }
  .products .text { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .products ul { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .products ul li { margin-top: 10px; margin-right: 0.5rem; margin-left: 0.5rem; } }

.features { padding-bottom: 300px; padding-top: 150px; }

.features .price-block { -webkit-box-sizing: border-box; box-sizing: border-box; border: solid 3px rgba(140, 159, 135, 0.4); position: relative; width: 29rem; height: 23rem; padding-top: 55px; padding-left: 65px; padding-right: 100px; }

.features .price-block p { max-width: 420px; }

.features .price-block .price-block-image { position: absolute; top: -2.5rem; left: 25rem; width: 31.25rem; height: 17.95rem; z-index: 2; background: url("img/features/price.jpg") left top/cover no-repeat; }

.features .price-block .price-block-image::after { content: ""; position: absolute; bottom: -4rem; left: 1.5rem; width: 15.7rem; height: 2.9rem; z-index: 1; background: url("img/features/lettering-01.png") left top/cover no-repeat; }

@media screen and (max-width: 849px) { .features .price-block { border: none; padding-left: 0; padding-right: 0; }
  .features .price-block .price-block-image { position: relative; left: 0; top: -400px; margin-left: -5%; }
  .features .price-block .price-block-image::after { display: none; } }

@media screen and (max-width: 559px) { .features .price-block .price-block-image { width: 100%; } }

.features .slow-food { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 60%; padding-top: 150px; }

.features .slow-food p { padding-bottom: 20px; }

.features .slow-food .slow-food-image { position: absolute; top: 7.5rem; left: 5rem; width: 18.15rem; height: 16.8rem; border: solid 3px rgba(140, 159, 135, 0.4); }

.features .slow-food .slow-food-image .lettering { position: absolute; z-index: 3; right: -5rem; bottom: 2.5rem; width: 16.85rem; height: 4.05rem; background: transparent url("img/lettering-02.png") left top/cover no-repeat; }

.features .slow-food .slow-food-image:after { content: ""; position: absolute; top: -10rem; left: 6.25rem; width: 16.2rem; height: 17.9rem; z-index: 1; background: transparent url("img/features/slow-01.jpg") left top/cover no-repeat; }

.features .slow-food .slow-food-image:before { content: ""; position: absolute; top: 5rem; left: -7.5rem; width: 18.15rem; height: 13.75rem; z-index: 2; background: transparent url("img/features/slow-02.jpg") left top/cover no-repeat; }

@media screen and (max-width: 849px) { .features .slow-food { padding-left: 0; padding-top: 400px; } }

@media screen and (max-width: 849px) { .features { padding-bottom: 150px; padding-top: 200px; } }

.masterclass { -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 5rem; padding-bottom: 5rem; background-color: black; color: #f9f6f3; background: transparent url("img/space.jpg") left top/cover no-repeat; }

.masterclass p { max-width: 450px; }

.tenants { padding-right: 5%; padding-top: 150px; padding-bottom: 150px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.tenants .review { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.tenants .review p { max-width: 303px; padding-bottom: 30px; }

.tenants .review .text-input { width: 214px; height: 45px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 8px 14px; margin-bottom: 10px; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); border: 1px solid #433939; }

.tenants .review input { background: transparent; outline: none; border: none; width: 100%; line-height: 28px; font-size: 0.8rem; }

.tenants .more-review { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 50px; padding-left: 20px; padding-right: 20px; width: 31rem; height: 24rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; border: solid 3px rgba(140, 159, 135, 0.4); }

.tenants .more-review .empty { visibility: hidden; }

.tenants .more-review li { width: 180px; margin-right: 0; }

.tenants .more-review:before { content: ""; position: absolute; top: -30px; left: -25px; width: 11.5rem; height: 11.25rem; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); background: transparent url("img/tenants/rent-01.jpg") left top/cover no-repeat; }

.tenants .more-review:after { content: ""; position: absolute; width: 10.5rem; height: 14.5rem; bottom: -80px; right: -30px; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); background: transparent url("img/tenants/rent-02.jpg") left top/cover no-repeat; }

.tenants .ready::before { background-image: url("img/icons/ready.svg"); }

.tenants .ads::before { background-image: url("img/icons/ads.svg"); }

.tenants .storage::before { background-image: url("img/icons/storage.svg"); }

.tenants .place::before { background-image: url("img/icons/place.svg"); }

@media screen and (min-width: 1440px) { .tenants { padding-right: 10%; padding-left: 30%; } }

.index-footer { height: 31rem; border: 1px solid green; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 10%; padding-top: 100px; }

.index-footer address { display: inline-block; padding: 8rem 2rem 1rem 2rem; border: 1px solid red; font-style: normal; }

.index-footer address p { max-width: 312px; padding-bottom: 20px; }

.index-footer address a { text-decoration: none; color: inherit; }
