div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer { margin: 0; padding: 0; }

p, h1, h2, h3, span { cursor: default; }

input { font-family: inherit; }

h1, h2, h3, h4, h5, h6 { font-weight: inherit; }

ul { list-style: none; }

html { font-family: OpenSans, sans-serif; font-size: 20px; line-height: 1.4; color: #444; }

h1, h2, h3 { font-family: YesevaOne, sans; font-size: 2rem; font-weight: 900; line-height: 1.1; }

h2 { padding-bottom: 22px; }

.products ul li, .tenants .more-review li, .index-footer address { font-size: 0.8rem; text-align: center; }

.what-is, .products, .features, .masterclass, .tenants { padding-left: 10%; padding-right: 10%; }

@media screen and (min-width: 1440px) { .what-is, .products, .features, .masterclass, .tenants { padding-left: 20%; padding-right: 20%; } }

@font-face { font-family: OpenSans, sans-serif; src: url(fonts/YesevaOne-Regular_v2.otf); }

@font-face { font-family: YesevaOne, sans; src: url(fonts/OpenSans-Light.ttf); }

.tenants .review button { width: 214px; height: 45px; background-color: #433939; border: none; cursor: pointer; font-size: 0.8rem; line-height: 1.89; text-align: center; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); color: #f9f6f3; }

.products ul li, .tenants .more-review li { position: relative; padding-top: 5rem; background-color: red; margin-right: 20px; }

.products ul li::before, .tenants .more-review li::before { content: ''; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 6.4rem; height: 5rem; background-position: center; background-size: 50%; background-repeat: no-repeat; }

.index-header { background-color: #DDDDDD; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 11rem 0; }

.index-header .header-welcome { width: 490px; height: 311px; margin: 0 auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; border: 1px solid red; }

.index-header .header-welcome h1 { font-size: 0; }

.index-header .header-welcome h2 { text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 70px 60px 0; }

.index-header .header-welcome p { font-size: 15px; color: #726f6f; }

.what-is { -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 200px; padding-bottom: 200px; overflow: hidden; }

.what-is .about { position: relative; width: 370px; }

.what-is .about:after { content: ""; display: inline-block; position: absolute; border: 1px solid black; top: -100px; right: -650px; width: 600px; height: 525px; }

@media screen and (min-width: 1440px) { .what-is .about:after { right: -750px; } }

.concept-block { border: 1px solid red; height: 316px; }

.products { padding-top: 11rem; padding-bottom: 11rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.products ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.products ul li { max-width: 150px; }

.products ul .veg::before { background-image: url("img/products/veg.png"); }

.products ul .meat::before { background-image: url("img/products/meat.png"); }

.products ul .candy::before { background-image: url("img/products/candy.png"); }

.products ul .tea::before { background-image: url("img/products/tea.png"); }

.products ul .milk::before { background-image: url("img/products/milk.png"); }

.products p { text-align: center; width: 50%; padding-bottom: 40px; }

.features { padding-bottom: 300px; }

.features .price-block { -webkit-box-sizing: border-box; box-sizing: border-box; border: solid 3px rgba(140, 159, 135, 0.4); position: relative; width: 29rem; height: 23rem; padding: 55px 65px; }

.features .price-block p { max-width: 420px; }

.features .price-block:before { content: ""; position: absolute; top: -50px; left: 500px; height: 420px; width: 625px; border: 1px solid black; }

.features .slow-food { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 55%; padding-top: 150px; }

.features .slow-food p { padding-bottom: 20px; }

.features .slow-food:before { content: ""; position: absolute; top: -50px; left: -50px; height: 600px; width: 550px; border: 1px solid black; }

.masterclass { height: 407px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 120px; background-color: black; color: #f9f6f3; }

.masterclass p { max-width: 450px; }

.tenants { padding-right: 5%; padding-top: 150px; padding-bottom: 150px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.tenants .review { -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.tenants .review p { max-width: 303px; padding-bottom: 30px; }

.tenants .review .text-input { width: 214px; height: 45px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 8px 14px; margin-bottom: 10px; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); border: 1px solid #433939; }

.tenants .review input { background: transparent; outline: none; border: none; width: 100%; line-height: 28px; font-size: 0.8rem; }

.tenants .more-review { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 50px; padding-left: 20px; padding-right: 20px; width: 31rem; height: 24rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; border: solid 3px rgba(140, 159, 135, 0.4); }

.tenants .more-review .empty { visibility: hidden; }

.tenants .more-review li { width: 180px; margin-right: 0; border: 1px solid red; }

.tenants .more-review:before { content: ""; position: absolute; top: -30px; left: -25px; width: 11.5rem; height: 11.25rem; border: 1px solid black; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); }

.tenants .more-review:after { content: ""; position: absolute; width: 10.5rem; height: 14.5rem; bottom: -80px; right: -30px; border: 1px solid black; -webkit-box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18); }

.tenants .meat::before { background-image: url("img/products/meat.png"); }

.tenants .candy::before { background-image: url("img/products/candy.png"); }

.tenants .tea::before { background-image: url("img/products/tea.png"); }

.tenants .milk::before { background-image: url("img/products/milk.png"); }

.index-footer { height: 31rem; border: 1px solid green; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 10%; padding-top: 100px; background: transparent url("img/krasivaya_dolina_1920x1200.jpg") left top/cover no-repeat; }

.index-footer address { display: inline-block; padding-top: 8rem; padding-bottom: 1rem; padding-left: 2rem; padding-right: 2rem; border: 1px solid red; font-style: normal; }

.index-footer address p { max-width: 312px; padding-bottom: 20px; }

.index-footer address a { text-decoration: none; color: inherit; }
