.about-image {
	position: absolute;
	border: $block-border;
	top: 0;
	left: 120%;
	width: 18.15rem;
	height: 16.8rem;

	.lettering {
		position: absolute;
		left: -2.5rem;
		bottom: 3.75rem;
		z-index: 3;
		width: 15.7rem;
		height: 2.9rem;
		background:transparent url('img/lettering-01.png') left top/cover no-repeat;
	}

	&:before {
		content: '';
		position: absolute;
		top: -5rem;
		left: -2.5rem;
		width: 18.1rem;
		height: 12.05rem;
		box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18);
		background: transparent url('img/concept-place/kon-01.jpg') left top/cover no-repeat;
	}

	&:after {
		content: '';
		position: absolute;
		top: 2.5rem;
		left: 10rem;
		width: 12.05rem;
		height: 16.05rem;
		box-shadow: 0 2px 10px 0 rgba(41, 31, 29, 0.18);
		background: transparent url('img/concept-place/kon-02.jpg') left top/cover no-repeat;
	}
	@include mq("850", max) {
		position: relative;
		top: 7rem;
		left: 10%;


	}
	
}