.features {
	$image: 250px;
	@import "price-block";
	@import "slow-food";
	@extend %desktop-padding;
	padding-bottom: 300px;
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	
	@include mq('1024', max) {
		
		padding: 0;
		align-items: center;
		justify-content: center;
	}
	
}