.features {
	@import "price-block";
	@import "slow-food";
	@extend %desktop-padding;
	padding-bottom: 300px;
	padding-top: 150px;
	
	@include mq('850', max) {
		padding-bottom: 150px;
		padding-top: 200px;
		// overflow: hidden;
	}
	
}