.features {
	@extend %desktop-padding;
	padding-bottom: 300px;
	.price-block {
		box-sizing: border-box;
		border: $block-border;
		position: relative;
		width: 29rem;
		height: 23rem;
		padding: 55px 65px;
		p {  max-width: 420px; } 
		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: 500px;
			height: 420px;
			width: 625px;
			border: 1px solid black;}
	}
	.slow-food {
		position: relative;
		box-sizing: border-box;
		padding-left: 55%;
		padding-top: 150px;
		p {padding-bottom: 20px;}
		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: -50px;
			height: 600px;
			width: 550px;
			border: 1px solid black;}
	}	
}