.price-block {
	box-sizing: border-box;
	border: $block-border;
	position: relative;
	width: 29rem;
	height: 23rem;
	padding-top: 55px;
	padding-left: 65px;
	padding-right: 100px;
	p {  max-width: 420px; } 
	.price-block-image {
		position: absolute;
		top: -50px;
		left: 500px;
		width: 625px;
			height: 359px;
			z-index: 2;
			background:url('img/features/price.jpg') left top/cover no-repeat;
		&::after {
			content: "";
			position: absolute;
			bottom: -80px;
			left: 30px;
			width: 314px;
			height: 58px;
			z-index: 1;
			background:url('img/features/lettering-01.png') left top/cover no-repeat;}
	}
}