.price-block {
	box-sizing: border-box;
	border: $block-border;
	position: relative;
	width: 29rem;
	height: 23rem;
	padding-top: 55px;
	padding-left: 65px;
	padding-right: 100px;

	p {  
		max-width: 420px; 
	} 
	
	.price-block-image {
		position: absolute;
		top: -2.5rem;
		left: 25rem;
		width: 31.25rem;
		height: 17.95rem;
		z-index: 2;
		background:url('img/features/price.jpg') center/cover no-repeat;

		&::after {
			content: "";
			position: absolute;
			bottom: -4rem;
			left: 1.5rem;
			width: 15.7rem;
			height: 2.9rem;
			z-index: 1;
			background:url('img/features/lettering-01.png') center/cover no-repeat;
		}
	}
	@include mq('1024', max) {
		border: none;
		padding-top: 20rem;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: auto;
		text-align: center;

		p {
			margin: 0 auto;
		}
		*:not(.price-block-image) {
			padding-left: $desktop-padding - 5%;
			padding-right: $desktop-padding - 5%;
		}
		.price-block-image {
			top: 0;
			width: 100%;
			position: absolute;
			left: 0;
	
			&::after { display: none; }
		}
	}
	@include mq('iphone7plus', max) {
		text-align: left;
		}
}