.price-block {
	box-sizing: border-box;
	border: $block-border;
	position: relative;
	width: 29rem;
	height: 23rem;
	padding-top: 55px;
	padding-left: 65px;
	padding-right: 100px;

	p {  
		max-width: 420px; 
	} 
	
	.price-block-image {
		position: absolute;
		top: -2.5rem;
		left: 25rem;
		width: 31.25rem;
		height: 17.95rem;
		z-index: 2;
		background:url('img/features/price.jpg') left top/cover no-repeat;

		&::after {
			content: "";
			position: absolute;
			bottom: -4rem;
			left: 1.5rem;
			width: 15.7rem;
			height: 2.9rem;
			z-index: 1;
			background:url('img/features/lettering-01.png') left top/cover no-repeat;
		}
	}
	@include mq('850', max) {
		border: none;
		padding-left: 0;
		padding-right: 0;
		.price-block-image {
			position: relative;
			left: 0;
			top: -400px;
			margin-left: -5%;
			&::after { display: none; }
		}
	}
	@include mq('560', max) {
			.price-block-image {
				width: 100%;
			}
		}
}