.slow-food {
		position: relative;
		box-sizing: border-box;
		padding-left: 60%;
		padding-top: 150px;
		p {padding-bottom: 20px;}
		.slow-food-image {
			position: absolute;
			top: 150px;
			left: 100px;
			width: 363px;
		  	height: 336px;
		  	border: $block-border;
		  	.lettering {
		  		position: absolute;
		  		z-index: 3;
		  		right: -100px;
		  		bottom: 50px;
		  		width: 337px;
		  		height: 81px;
		  		background:transparent url('img/lettering-02.png') left top/cover no-repeat;


		  	}
			&:after {
				content: "";
				position: absolute;
				top: -200px;
				left: 125px;
				width: 324px;
  				height: 358px;
  				z-index: 1;
				background:transparent url('img/features/slow-01.jpg') left top/cover no-repeat;}
			&:before {
				content: "";
				position: absolute;
				top: 100px;
				left: -150px;
				width: 363px;
				height: 275px;
				z-index: 2;
				background:transparent url('img/features/slow-02.jpg') left top/cover no-repeat;}
		}
	}	