.slow-food {
	position: relative;
	box-sizing: border-box;
	padding-left: 60%;
	padding-top: 150px;
	p {
		padding-bottom: 20px;
	}
	.slow-food-image {
		position: absolute;
		top: 7.5rem;
		left: 5rem;
		width: 18.15rem;
	  	height: 16.8rem;
	  	border: $block-border;

	  	.lettering {
	  		position: absolute;
	  		z-index: 3;
	  		right: -5rem;
	  		bottom: 2.5rem;
	  		width: 16.85rem;
	  		height: 4.05rem;
	  		background:transparent url('img/lettering-02.png') left top/cover no-repeat;
	  	}

		&:after {
			content: "";
			position: absolute;
			top: -10rem;
			left: 6.25rem;
			width: 16.2rem;
				height: 17.9rem;
				z-index: 1;
			background:transparent url('img/features/slow-01.jpg') left top/cover no-repeat;
		}

		&:before {
			content: "";
			position: absolute;
			top: 5rem;
			left: -7.5rem;
			width: 18.15rem;
			height: 13.75rem;
			z-index: 2;
			background:transparent url('img/features/slow-02.jpg') left top/cover no-repeat;
		}
	}
	@include mq('1024', max) {
		padding-left: $desktop-padding - 5%;
		padding-right: $desktop-padding - 5%;
		padding-top: 28rem;
		
	}
	@include mq("iphone7plus", max) {
		.slow-food-image {
			&:after {
				left: 5.3rem;
			}
			.lettering {
				right: -2rem;
			}
		}
	}
	@include mq("iphone7", max) {
		.slow-food-image:after { left: 5.4rem; }
	}
	@include mq("iphone5", max) {
		.slow-food-image:after { left: 5.2rem; }
	}
}	