.ram-ram {
	@extend %foodcourt-block;
	transform: translate(25%);
	.ram-ram-image {
		position: absolute;
		left: -135%;
		top: -25%;
		border: solid 3px rgba(#8c9f87, 0.4);
		width: 25.3125rem;
		height: 30.625rem;
		box-shadow: 0 2px 9px 0 rgba(41, 31, 29, 0.18), 0 2px 9px 0 rgba(41, 31, 29, 0.18);
		&:after {
			content: "";
			position: absolute;
			left: -15%;
			bottom: 10%;
			background: transparent url('img/lettering-01.png') center/contain no-repeat;
			width: 19.625rem;
			height: 3.625rem;
		}
	}
}