.sailor-song {
	@extend %foodcourt-block;
	.sailor-song-image {
		position: absolute;
		left: 130%;
		top: -25%;
		border: solid 3px rgba(#8c9f87, 0.4);
		width: 25.3125rem;
		height: 30.625rem;
		box-shadow: 0 2px 9px 0 rgba(41, 31, 29, 0.18), 0 2px 9px 0 rgba(41, 31, 29, 0.18);
	}
}