doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href='main.css')
		meta(name='viewport', content='width=device-width')
		title Азбука фермы
		
		include index/header.jade
		include index/concept-place.jade
		include index/eat-everything.jade
		include index/products.jade
		include index/features.jade
		include index/masterclass.jade
		include index/foodcourt.jade
		//- include index/tenants.jade
		//- include index/footer.jade
	body
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="main.min.js")

