doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href='main.css')
		meta(name='viewport', content='width=device-width')
		title Азбука фермы
		
		include index/header.jade
		include index/what-is.jade
		include index/concept-block.jade
		include index/products.jade
	body
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="main.min.js")

