%primary-button {
	width: 247px;
	height: 52px;
	border-radius: 8px;
	background-color: #444;
	border: none;
	cursor: pointer;
	font-size: 1.18em;
	line-height: 1.89;
	text-align: center;
	color: #fff;
}