.masterclass {
	@extend %desktop-padding;
	box-sizing: border-box;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: black;
	color: #f9f6f3;
	background:transparent url('img/space.jpg') left top/cover no-repeat;
	
	p { 
		max-width: 450px; 
	}
}