.index-footer {
	height: 31rem;
	border: 1px solid green;
	box-sizing: border-box;
	padding-left: $desktop-padding;
	padding-top: 100px;
	address {
		// background: 
	 //        url('img/header/logo.png') center 20px/107px 112px no-repeat,
	 //        url('img/header/header-border.svg') left top/cover no-repeat;
		display: inline-block;
		@extend %icon-font;
		padding-top: 8rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		border: 1px solid red;
		font-style: normal;
		p {
			max-width: 312px;
			padding-bottom: 20px;}
		a {text-decoration: none; color: inherit;}


	}
}