.index-footer {
	height: 31rem;
	border: 1px solid green;
	box-sizing: border-box;
	padding-left: $desktop-padding;
	padding-top: 100px;
	background:transparent url('img/krasivaya_dolina_1920x1200.jpg') left top/cover no-repeat;
	address {
		display: inline-block;
		@extend %icon-font;
		padding-top: 8rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		border: 1px solid red;
		font-style: normal;
		p {
			max-width: 312px;
			padding-bottom: 20px;}
		a {text-decoration: none; color: inherit;}


	}
}