.what-is {
	@extend %block-size;
	@extend %desktop-padding;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	.about {
		position: relative;
		width: 370px;
		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			border: 1px solid black;
			top: -100px;
			right: -750px;
			width: 600px;
			height: 525px;}
	}
}