
$desktop-padding: 10%;
$block-border: solid 3px rgba(#8c9f87, 0.4);

html {
	font-family: $font-primary;
	font-size: 20px;
	line-height: 1.4;
	color: #444;
	font-weight: 300;
}
h1, h2, h3 {
	font-family: $font-secondary;
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.1;
}
li {
	font-size: 16px;
}
h2 {
	margin-bottom: 22px;
}


%desktop-padding {
	padding-left: $desktop-padding;
	padding-right: $desktop-padding;
	
	@include mq("desktop-wide", min) {
		padding-left: $desktop-padding + 10%;
		padding-right: $desktop-padding + 10%;
	}
	@include mq("1024", max) {
		padding-left: $desktop-padding - 5%;
		padding-right: $desktop-padding - 5%;
	}
}

@include mq("1024", max) {
    html {
    	font-size: 16px;
    }

    h1, h2, h3 {
    	font-size: 30px;
    }

	p {
	    font-size: 16px;
	}
	li {
		font-size: 14px;
	}
}
@include mq("iphone7plus", max) {
	html {
    	font-size: 15.5px;
    }
    h2 {
		align-self: flex-start;
	}
	p {
		text-align: left;
	}
}
@include mq("iphone7", max) {
		html {
			font-size: 14px;
		}
	}

@include mq("iphone5", max) {
    html {
    	font-size: 12px;
    }
    
    
}




