
$desktop-padding: 10%;
$block-border: solid 3px rgba(#8c9f87, 0.4);

html {
	font-family: $font-primary;
	font-size: 20px;
	line-height: 1.4;
	color: #444;
	font-weight: 300;
}
h1, h2, h3 {
	font-family: $font-secondary;
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.1;
}
h2 {
	margin-bottom: 22px;
}
%icon-font {
	font-size: 0.8rem;
	text-align: center;
}
%desktop-padding {
	padding-left: $desktop-padding;
	padding-right: $desktop-padding;
	
	@include mq("desktop-wide", min) {
		padding-left: $desktop-padding + 10%;
		padding-right: $desktop-padding + 10%;
	}
	@include mq("850", max) {
		padding-left: $desktop-padding - 5%;
		padding-right: $desktop-padding - 5%;
	}
}

@include mq("850", max) {
    html {
    	font-size: 16px;
    }
    h1,h2,h3 {
    	font-size: 1.875rem;
    }
}

@include mq("560", max) {
    html {
    	font-size: 12px;
    }
    h1,h2,h3 {
    	font-size: 1.675rem;
    }
 }



