$font-primary: OpenSans;
$font-secondary: YesevaOne;

html {
	font-family: $font-primary;
	font-size: 20px;
	line-height: 1.4;
	color: #444;
}
h1, h2, h3 {
	font-family: $font-secondary;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.1;
}
%icon-font {
	font-size: 1.25rem;
	text-align: center;
}