$font-primary: OpenSans, sans-serif;
$font-secondary: Yeseva One, cursive;
@font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: Yeseva One;
	src: url(fonts/YesevaOne-Regular.ttf);
}