// @MEDIA
$breakpoints: (
    "iphone5":      321px,
    "iphone7":      376px,
    "iphone7plus":  415px,
    "480":          480px,
    "560":          560px,
    "768":          768px,
    "850":          850px,
    "1024":         1025px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media screen and (#{$type}-width: $width) {
            @content;
        }
    }
}